# VPC Config

variable "vpc_region" {
  description = "AWS region"
  default     = "{{region}}"
}

variable "vpc_name" {
  description = "VPC for {{project}}"
  default     = "{{project}}_vpc"
}

variable "vpc_cidr_block" {
  description = "The CIDR block for the VPC"
  default     = "{{vpc_cidr_block}}"
}


# Security Groups
variable "security_group" {
  description = "Security group for private traffic"
  type        = string
  default     = "internal"
}

variable "sg_name" {
  description = "Security group for private traffic"
  type        = string
  default     = "{{project}}_sg"
}


# Subnet
variable "subnet1_name" {
  description = "Subnet for webserver"
  type        = string
  default     = "{{project}}_main_subnet"
}

variable "subnet1_public_sg_cidr" {
  description = "Security group for public traffic"
  type        = list(string)
  default     = ["{{subnet1.public_sg_cidr}}"]
}

variable "subnet1_private_sg_cidr" {
  description = "Security group for private traffic"
  type        = list(string)
  default     = ["{{subnet1.private_sg_cidr}}"]
}

variable "subnet1_egress_cidr_block" {
  description = "Security group for public traffic"
  type        = list(string)
  default     = ["{{subnet1.egress_cidr_block}}"]
}

variable "subnet1_cidr" {
  description = "The cidr of the subnet"
  type        = string
  default     = "{{subnet1.private_sg_cidr}}"
}

variable "subnet1_az" {
  description = "Availability zones for the subnet"
  type        = string
  default     = "{{region}}a"
}

# Metadata
variable "default_tags" {
  description = "Metadata"
  type        = map(string)
  default = {
    Name                  = "{{project}}_vpc"
    Environment           = "prod"
    Terraform_provisioned = "true"
    Author=  "{{author.name}}",
    Contact= "{{author.email}}",
  }
}

variable "key_pair_name" {
  description = "Name of the keypair"
  type = string
  default = "{{key_pair_name}}"
}

variable "ssh_public_key_path" {
  description = "Public key path"
  type        = string
  default     = "{{ssh_key_path}}"
}

variable "ssh_key_algorithm" {
  description = "Ssh key algorithm to generate keys with"
  type        = string
  default     = "{{ssh_key_algorithm}}"
}

variable "private_key_extension" {
  description = "Extension of generated private key"
  type        = string
  default     = "{{private_key_extension}}"
}

variable "public_key_extension" {
  description = "Extension of generated public key"
  type        = string
  default     = "{{public_key_extension}}"
}

variable "chmod_command" {
  description = "Chmod command"
  type        = string
  default     = "{{chmod_command}}"
}